<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--подключаем библиотеки-->
    <script src="../static/libs/btn/anim-menu-btn.min.js" defer></script>
    <link rel="stylesheet" href="../static/libs/swiper/swiper-bundle.min.css">
    <script src="../static/libs/swiper/swiper-bundle.min.js" defer></script>
    <!--подключаем стили и скрипты-->
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/app.js" defer></script>
</head>
<body>
    <div class="swiper slider">
        <div class="slider-ui">
            <!--меню-->
            <div class="container header-wrapper">
                <div class="top-line">
                    <div class="row">
                        <div class="col col--center">
                            <a href="#" class="logo">
                                ∀RAD
                            </a>
                        </div>
                        <div class="col col--center col--right col--lead">
                            <nav class="main-menu">
                                <ul>
                                    <li class="active"><a href="#">Главная</a></li>
                                    <li><a href="#">Информация</a></li>
                                    <li><a href="#">Контакты</a></li>
                                </ul>
                            </nav>
                            <a href="#" class="button button--top">Присоединиться</a>
                        </div>
                        <div class="col col--center ">
                            <button class="submenu anim-menu-btn">
                                <i class="anim-menu-btn__icon anim-menu-btn__icon--close"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!--внуенний контент-->
                <div class="header-content">

                    <div class="header-content__slide active" >
                        <h1 class="letters">∀RAD</h1>
                        <div class="header-content__info">
                            <p>Под любым радианом</p><br>
                           <button onclick="window.location.href = 'file:///C:/Users/alex/Desktop/html/autorization.html'" class = "button button--main"> Авторизация</button>
                            
                            <button onclick="window.location.href = 'file:///C:/Users/alex/Desktop/html/registration.html'" class="button button--main"> Регистрация</button>
                        </div>
                    </div>
                    
                        
                </div>
                
            </div>
            
        </div>
        <!--вход-->
        <div id="id01" class="modal">
            
        </div>

        <!--слайдер-->
        <div class="swiper-wrapper">
            <div id="home" class="swiper-slide slider__item">
                <div class="slider__layer" data-swiper-parallax="50%" style="background-image: url(img/slides/Background.jpg);"></div>
                <div class="slider__layer" data-swiper-parallax="35%" style="background-image: url(img/slides/slide-2.png);"></div>
                <!--прокрутка горизонтального списка-->
                <div class="tag-scrollers">
                    <div class="tag-scroller">
                        <ul class="tag-list">
                            <li>SEO / SEM</li>
                            <li>Accessibility</li>
                            <li>Consumer Insights</li>
                            <li>Back-end</li>
                            <li>UI</li>
                            <li>CMS</li>
                            <li>UX</li>
                            <li>Market Research</li>
                            <li>Measurement Strategy</li>
                            <li>Data Architecture</li>
                            <li>Online / Digital</li>
                            <li>Web Analytics</li>
                            <li>Display</li>
                            <li>Brand Identity</li>
                            <li>Front-end</li>
                            <li>Product Design</li>
                            <li>Omnichannel Strategy</li>
                            <li>Offline / Print</li>
                            <li>Audio</li>
                            <li>Media Strategy</li>
                            <li>POS</li>
                            <li>SoMe</li>
                            <li>CRM</li>
                            <li>Motion Graphics</li>
                            <li>OOH / DOOH</li>
                            <li>Film Production</li>
                            <li>Campaign Development</li>
                            <li>Brand Strategy</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="info" class="swiper-slide slider__item">

            </div>
                
                
            
        </div>

        
        
    </div>
</body>
</html>